.sprite { background: url('images/valuta_flag_sprite.png') no-repeat top left;  }
.sprite.AUD_lille { background-position: 0px 0px; width: 17px; height: 12px;  }
.sprite.BBD_lille { background-position: -18px 0px; width: 18px; height: 12px;  }
.sprite.AWG_lille { background-position: -37px 0px; width: 18px; height: 12px;  }
.sprite.BGL_lille { background-position: -56px 0px; width: 18px; height: 12px;  }
.sprite.BGN_lille { background-position: -75px 0px; width: 17px; height: 12px;  }
.sprite.BOB_lille { background-position: -93px 0px; width: 18px; height: 12px;  }
.sprite.BHD_lille { background-position: -112px 0px; width: 20px; height: 12px;  }
.sprite.BND_lille { background-position: -133px 0px; width: 18px; height: 9px;  }
.sprite.BIF_lille { background-position: -152px 0px; width: 18px; height: 12px;  }
.sprite.BRL_lille { background-position: -171px 0px; width: 17px; height: 12px;  }
.sprite.BMD_lille { background-position: -189px 0px; width: 24px; height: 12px;  }
.sprite.BSD_lille { background-position: -214px 0px; width: 24px; height: 12px;  }
.sprite.BTN_lille { background-position: -239px 0px; width: 18px; height: 12px;  }
.sprite.BZD_lille { background-position: -258px 0px; width: 18px; height: 12px;  }
.sprite.BWP_lille { background-position: -277px 0px; width: 17px; height: 12px;  }
.sprite.CAD_lille { background-position: -295px 0px; width: 17px; height: 12px;  }
.sprite.CHF_lille { background-position: -313px 0px; width: 17px; height: 12px;  }
.sprite.CLP_lille { background-position: -331px 0px; width: 18px; height: 12px;  }
.sprite.CNY_lille { background-position: -350px 0px; width: 18px; height: 12px;  }
.sprite.COP_lille { background-position: -369px 0px; width: 18px; height: 12px;  }
.sprite.CRC_lille { background-position: -388px 0px; width: 18px; height: 11px;  }
.sprite.CUP_lille { background-position: -407px 0px; width: 18px; height: 10px;  }
.sprite.CZK_lille { background-position: -426px 0px; width: 18px; height: 12px;  }
.sprite.CYP_lille { background-position: -445px 0px; width: 20px; height: 12px;  }
.sprite.DJF_lille { background-position: -466px 0px; width: 17px; height: 12px;  }
.sprite.DKK_lille { background-position: -484px 0px; width: 17px; height: 12px;  }
.sprite.DZD_lille { background-position: -502px 0px; width: 18px; height: 12px;  }
.sprite.DOP_lille { background-position: -521px 0px; width: 18px; height: 10px;  }
.sprite.ECS_lille { background-position: -540px 0px; width: 18px; height: 9px;  }
.sprite.EEK_lille { background-position: -559px 0px; width: 19px; height: 12px;  }
.sprite.EGP_lille { background-position: -579px 0px; width: 18px; height: 12px;  }
.sprite.EUR_lille { background-position: -598px 0px; width: 18px; height: 12px;  }
.sprite.FJD_lille { background-position: -617px 0px; width: 24px; height: 12px;  }
.sprite.FKP_lille { background-position: -642px 0px; width: 18px; height: 9px;  }
.sprite.GHC_lille { background-position: -661px 0px; width: 17px; height: 12px;  }
.sprite.GBP_lille { background-position: -679px 0px; width: 17px; height: 12px;  }
.sprite.GIP_lille { background-position: -697px 0px; width: 24px; height: 12px;  }
.sprite.GTQ_lille { background-position: -722px 0px; width: 18px; height: 11px;  }
.sprite.HNL_lille { background-position: -741px 0px; width: 17px; height: 12px;  }
.sprite.GYD_lille { background-position: -759px 0px; width: 18px; height: 11px;  }
.sprite.HKD_lille { background-position: -778px 0px; width: 18px; height: 12px;  }
.sprite.HUF_lille { background-position: -797px 0px; width: 18px; height: 12px;  }
.sprite.HRK_lille { background-position: -816px 0px; width: 24px; height: 12px;  }
.sprite.HTG_lille { background-position: -841px 0px; width: 18px; height: 11px;  }
.sprite.IDR_lille { background-position: -860px 0px; width: 18px; height: 12px;  }
.sprite.ILS_lille { background-position: -879px 0px; width: 17px; height: 12px;  }
.sprite.INR_lille { background-position: -897px 0px; width: 18px; height: 12px;  }
.sprite.IRR_lille { background-position: -916px 0px; width: 20px; height: 11px;  }
.sprite.IQD_lille { background-position: -937px 0px; width: 18px; height: 12px;  }
.sprite.ISK_lille { background-position: -956px 0px; width: 17px; height: 12px;  }
.sprite.JMD_lille { background-position: -974px 0px; width: 24px; height: 12px;  }
.sprite.JOD_lille { background-position: -999px 0px; width: 24px; height: 12px;  }
.sprite.JPY_lille { background-position: -1024px 0px; width: 17px; height: 12px;  }
.sprite.KES_lille { background-position: -1042px 0px; width: 17px; height: 12px;  }
.sprite.KHR_lille { background-position: -1060px 0px; width: 18px; height: 12px;  }
.sprite.KPW_lille { background-position: -1079px 0px; width: 24px; height: 12px;  }
.sprite.KRW_lille { background-position: -1104px 0px; width: 18px; height: 12px;  }
.sprite.KWD_lille { background-position: -1123px 0px; width: 18px; height: 9px;  }
.sprite.KYD_lille { background-position: -1142px 0px; width: 18px; height: 9px;  }
.sprite.LAK_lille { background-position: -1161px 0px; width: 18px; height: 12px;  }
.sprite.KZT_lille { background-position: -1180px 0px; width: 18px; height: 9px;  }
.sprite.LBP_lille { background-position: -1199px 0px; width: 18px; height: 12px;  }
.sprite.LKR_lille { background-position: -1218px 0px; width: 18px; height: 9px;  }
.sprite.LTL_lille { background-position: -1237px 0px; width: 18px; height: 12px;  }
.sprite.LVL_lille { background-position: -1256px 0px; width: 24px; height: 12px;  }
.sprite.MAD_lille { background-position: -1281px 0px; width: 17px; height: 12px;  }
.sprite.MNT_lille { background-position: -1299px 0px; width: 18px; height: 9px;  }
.sprite.MTL_lille { background-position: -1318px 0px; width: 18px; height: 12px;  }
.sprite.MVR_lille { background-position: -1337px 0px; width: 18px; height: 12px;  }
.sprite.MXN_lille { background-position: -1356px 0px; width: 17px; height: 12px;  }
.sprite.MYR_lille { background-position: -1374px 0px; width: 24px; height: 12px;  }
.sprite.NGN_lille { background-position: -1399px 0px; width: 17px; height: 12px;  }
.sprite.NPR_lille { background-position: -1417px 0px; width: 12px; height: 14px;  }
.sprite.NOK_lille { background-position: -1430px 0px; width: 17px; height: 12px;  }
.sprite.NIO_lille { background-position: -1448px 0px; width: 17px; height: 12px;  }
.sprite.NZD_lille { background-position: -1466px 0px; width: 17px; height: 12px;  }
.sprite.PAB_lille { background-position: -1484px 0px; width: 18px; height: 12px;  }
.sprite.PEN_lille { background-position: -1503px 0px; width: 18px; height: 12px;  }
.sprite.PHP_lille { background-position: -1522px 0px; width: 24px; height: 12px;  }
.sprite.PKR_lille { background-position: -1547px 0px; width: 18px; height: 12px;  }
.sprite.RON_lille { background-position: -1566px 0px; width: 18px; height: 12px;  }
.sprite.ROL_lille { background-position: -1585px 0px; width: 18px; height: 12px;  }
.sprite.PYG_lille { background-position: -1604px 0px; width: 18px; height: 12px;  }
.sprite.RUB_lille { background-position: -1623px 0px; width: 18px; height: 12px;  }
.sprite.SBD_lille { background-position: -1642px 0px; width: 18px; height: 9px;  }
.sprite.PLN_lille { background-position: -1661px 0px; width: 17px; height: 11px;  }
.sprite.SDD_lille { background-position: -1679px 0px; width: 24px; height: 12px;  }
.sprite.SAR_lille { background-position: -1704px 0px; width: 18px; height: 12px;  }
.sprite.SEK_lille { background-position: -1723px 0px; width: 17px; height: 12px;  }
.sprite.SGD_lille { background-position: -1741px 0px; width: 18px; height: 12px;  }
.sprite.SIT_lille { background-position: -1760px 0px; width: 18px; height: 9px;  }
.sprite.SKK_lille { background-position: -1779px 0px; width: 18px; height: 12px;  }
.sprite.SRG_lille { background-position: -1798px 0px; width: 18px; height: 12px;  }
.sprite.SVC_lille { background-position: -1817px 0px; width: 18px; height: 9px;  }
.sprite.SYP_lille { background-position: -1836px 0px; width: 18px; height: 12px;  }
.sprite.SZL_lille { background-position: -1855px 0px; width: 17px; height: 12px;  }
.sprite.THB_lille { background-position: -1873px 0px; width: 18px; height: 12px;  }
.sprite.TND_lille { background-position: -1892px 0px; width: 17px; height: 12px;  }
.sprite.TRY_lille { background-position: -1910px 0px; width: 18px; height: 12px;  }
.sprite.TRL_lille { background-position: -1929px 0px; width: 18px; height: 12px;  }
.sprite.TTD_lille { background-position: -1948px 0px; width: 20px; height: 12px;  }
.sprite.TWD_lille { background-position: -1969px 0px; width: 18px; height: 12px;  }
.sprite.UAH_lille { background-position: -1988px 0px; width: 18px; height: 12px;  }
.sprite.USD_lille { background-position: -2007px 0px; width: 17px; height: 12px;  }
.sprite.UYP_lille { background-position: -2025px 0px; width: 18px; height: 12px;  }
.sprite.VEB_lille { background-position: -2044px 0px; width: 18px; height: 12px;  }
.sprite.VND_lille { background-position: -2063px 0px; width: 18px; height: 12px;  }
.sprite.VUV_lille { background-position: -2082px 0px; width: 18px; height: 11px;  }
.sprite.WST_lille { background-position: -2101px 0px; width: 18px; height: 13px;  }
.sprite.YUN_lille { background-position: -2120px 0px; width: 18px; height: 9px;  }
.sprite.ZAR_lille { background-position: -2139px 0px; width: 18px; height: 12px;  }
.sprite.ZMK_lille { background-position: -2158px 0px; width: 18px; height: 12px;  }
.sprite.ZWD_lille { background-position: -2177px 0px; width: 17px; height: 12px;  }
.sprite.ANG_lille { background-position: -2195px 0px; width: 18px; height: 12px;  }
.sprite.AED_lille { background-position: -2214px 0px; width: 18px; height: 9px;  }
.sprite.AFA_lille { background-position: -2233px 0px; width: 24px; height: 12px;  }
.sprite.ALL_lille { background-position: -2258px 0px; width: 18px; height: 12px;  }
.sprite.ARS_lille { background-position: -2277px 0px; width: 17px; height: 12px;  }
.sprite.AON_lille { background-position: -2295px 0px; width: 18px; height: 12px;  }
